{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "semi": [2, "never"],
    "indent": ["error", 2],
    "react/destructuring-assignment": "off",
  }
}