.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .center {
    display: flex;
    justify-content: center;
    .contentContainer {
      max-width: 650px;
      margin: 0 20px 0 20px;
      .title{
        font-size: 25px;
      }
      .img {
        width: 80%;
        max-width: 210px;
        padding-bottom: 10px;
        height: auto;
        align-self: center;

        @media (max-width: 768px){
          height: 200px;
          width: auto;
          object-fit: contain;
        }
      }
      .imageContainer {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        .uploadImage {
          width: 400px;
          @media (max-width: 768px){
            width: 100%;
            max-width: 400px;
          }
        }
      }

      .formContainer {
        display: flex;
        flex-direction: column;
        .input{
          margin-top: 10px;
        }
        .textarea{
          margin-top: 20px;
        }
        .message {
          padding: 20px;
          border-radius: 10px;
          border: solid 2px #1cd149;
          background-color: #1cd14940;
          display: flex;
          justify-content: center;
          &.error {
            border: solid 2px #f40000;
            background-color: #f4000040
          }
        }
        .buttonContainer {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
