.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .center {
    display: flex;
    justify-content: center;
    .contentContainer {
      max-width: 650px;
      margin: 0 20px 0 20px;
      .title{
        font-size: 25px;
      }
      .formContainer {
        display: flex;
        flex-direction: column;
        .input{
          margin-top: 10px;
        }
        .textarea{
          margin-top: 20px;
        }
        .buttonContainer {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
