@import "./../../index.scss";

$button-width: 12vw;
$button-height: 40px;

.container {
  .areaContainer {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .article {
      width: 70%;
      padding: 20px;
      display: flex;
      justify-content: center;

      @media (max-width: 425px) {
        width: 100%;
        padding: 10px;
      }

      @media (min-width: 426px) and (max-width: 768px) {
        width: 80%;
      }

      .articleContent {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: initial;

        @media (max-width: 768px) {
          width: 100%;
        }

        .h1 {
          margin-left: 20px;

          @media (max-width: 768px) {
            margin-left: 0px;
          }
        }

        .p {
          margin: 0px;
        }

        .img {
          height: 300px;
          object-fit: contain;
          margin: 20px 20px 10px 20px;

          @media (max-width: 768px) {
            width: auto;
            height: 200px;
            margin: 20px 0px 10px 0px;
          }
        }
      }

      .buttonsContainer {
        display: flex;
        .li {
          margin: 10px;
          width: $button-width;
          height: $button-height;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background-color: #605e63;
          border-radius: 5px;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 3px 1px -2px rgba(0, 0, 0, 0.12);

          .link {
            text-decoration: none;
            color: white;
            width: 100%;
            height: $button-height;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          @media (max-width: 425px) {
            width: 40vw;
            margin: 3px;
            font-size: 15px;
          }

          @media (min-width: 426px) and (max-width: 990px) {
            width: 30vw;
            margin: 3px;
            font-size: 15px;
          }
        }
      }

      .flexEnd {
        justify-content: flex-end;
      }

      .spaceBetween {
        justify-content: space-between;
      }
    }
  }

  .aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 0px 0px;

    @media (max-width: 425px) {
      width: 90%;
    }

    @media (max-width: 768px) {
      width: 80%;
      border-left: 0px;
      border-top: 3px solid $green-bit-us;
      margin: 0px 0px 0px 0px;
      padding: 0px 10px 0px 10px;
      align-items: flex-start;
    }

    .h2 {
      align-self: flex-start;

      @media (max-width: 768px) {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
