@import './../../index.scss';

.header{
  background-color: $pink-bit-us;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .img{
    margin: 0 auto;
    height: 80%;
  }

  @media (max-width: 425px){
    height: 30vh;
    .img{
      height: 50%;
    }
  }
}

.main{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  .cardContainer{
    padding: 10px;
  } 
}
