.link{
  text-decoration: none;

  .card{
    width: 345px;

    @media (max-width: 425px){
      width: 100%;
    }

    .media{
      object-fit: cover;
      height: 250px;
      @media (max-width: 375px){
        height: 150px;
      }
    }

    .h2{
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.3rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.33;
      letter-spacing: 0em;
      margin: 0px;
    }

    .p{
      color: rgba(0, 0, 0, 0.87);
      font-size: 0.875rem;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.46429em;
      margin: 0px;
    }
  }
}
