@import "./../../index.scss";

.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;

  @media (max-width: 425px) {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
