@import './../../index.scss';

.header{
  background-color: $pink-bit-us;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .img{
    margin: 0 auto;
    height: 80%;
  }

  @media (max-width: 425px){
    height: 30vh;
    .img{
      height: 50%;
    }
  }
}

.main{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  .itemContainer{
    width: 345px;
    height: 10vh;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
    color: black;

    .iconContainer{
      background-color: $green-bit-us;
      border-radius: 100%;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon{
        color: white;
      }
    }

    .dataContainer{
      width: calc(100% - 45px);
      padding: 0px 0px 0px 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .name{
        font-size: 1.2rem;
      }
    }
  }
  
}
