@import './../../index.scss';

$button-width: 20vw;
$button-height: 45px;

.li{
  margin: 10px;
  width: $button-width;
  height: $button-height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #605E63;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  .link{
    text-decoration: none;
    color: white;
    width: 100%;
    height: $button-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 425px){
    width: 30%;
    margin: 3px;
    font-size: 15px;
  }

  @media (min-width: 426px) and (max-width: 990px) {
    width: 23vw;
    margin: 3px;
    font-size: 15px;
  }
}
