$border-radius: 20px;

.container{
  width: 30vw;
  max-width: 310px;
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;

  .button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 0px;
    background-color: white;
    height: 24px;
    span{
      color: #605E63;
    }
  }

  .spacing{
    width: 40px;
    border-radius: $border-radius;
  }

  .input{
    border-width: 0px;
    margin: 0px 10px 0px 10px;
    width: 80%;
    font-size: 16px;
    text-align: center;
    border-radius: $border-radius;
  }

  @media (max-width: 425px){
    width: 90vw;
    .input{
      font-size: 15px;
    }
  }

  @media (min-width: 426px) and (max-width: 990px) {
    width: 70vw;
    .input{
      font-size: 16px;
    }
  }
}
