.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    .formContainer {
      margin: 0 10% 0 10%;
      width: 100%;
      max-width: 426px;
      display: flex;
      flex-direction: column;
      .buttonContainer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .errorMessage {
          color: red;
          padding-top: 20px;
        }
        .button {
          width: 100%;
          @media (min-width: 768px){
            margin-top: 20px;
            width: 200px;
          }
        }
      }
    }
  }
}
